.main-container{
    height: 100vh;
    width: 100%;
    padding: 0 !important;
    display: flex;    
    max-width: 500px;
}

.section-1 {
position: relative;
height: 100vh;
width: 100%;
overflow: hidden;
}

.background-image {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 8;
}

.background-image-couple {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9;
    background-repeat: no-repeat;
    object-fit: cover;
    opacity: 0.15;   
}

.background-item{
    position: absolute;
    position: absolute;
    display: flex;
    width: 100%;
    height: auto;
    z-index: 10;
}

.background-item-1{
    transform:  rotate(-38deg);
    width: 60%;
    bottom: -18%;
    left: -33%;
}

.background-item-2{
    transform: scale(-1, 1) rotate(35deg);
    width: 60%;
    top: -15%;
    right: -34%;
}
.background-item-3{
    position: absolute;
    top: -250px;
    left: -64%;
}
.background-item-3-image{
    width: 100%;
    transform:  rotate(244deg) scale(-1) rotateY(180deg)
}

.background-item-4{
    transform: rotate(175deg);
    bottom: -204px;
    right: -66%;

}

.background-item-4-image{    width: 100%;
    transform:  rotate(155deg);
}

.text-name-couple{
    font-family: 'Sunshine';
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 100;
    text-align: center;
    font-size: 4.5em;
    top: 28%;
    line-height: 0.7;
    letter-spacing: 2px;
}

.text-name-respects{
    font-family: Amstirdam;
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 100;
    text-align: center;
    font-size: 3em;
    bottom: 5%;
    line-height: 0.7;
    letter-spacing: 2px;
}
.text-name-invite{
    font-family: SunshineNormal;
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 100;
    text-align: center;
    font-size: 2em;
    top: 22%;
    line-height: 0.7;
    letter-spacing: 2px;
}
.text-name-invite-detail{
    font-family: SunshineNormal;
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 100;
    text-align: center;
    font-size: 2em;
    top: 9%;
    line-height: 1.3;
    letter-spacing: 2px;
}
.text-name-address{
    font-family: SunshineNormal;
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 100;
    text-align: center;
    font-size: 2em;
    top: 54%;
    line-height: 0.7;
    letter-spacing: 2px;
}
.text-name-address-detail{
    font-family: SunshineNormal;
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 100;
    text-align: center;
    font-size: 2em;
    top: 75%;
    line-height: 1.1;
    letter-spacing: 2px;
}
.text-name-address-date-time{
    font-family: SunshineNormal;
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 100;
    text-align: center;
    font-size: 2em;
    top: 60%;
    line-height: 0.7;
    letter-spacing: 2px;
}

.text-name-address-date-time-1{
    font-family: SunshineNormal;
    display: inline-block;
    line-height: 1;
   
    height: 64px;
}
.text-name-address-date-time-2{
    font-family: SunshineNormal;
    display: inline-block;
    font-size: 2.4em;
    border-right: 3px solid;
    padding-right: 10px;
    height: 55px;
    border-left: 3px solid;
    padding-left: 10px;
}
.text-name-address-date-time-3{
    font-family: SunshineNormal;
    display: inline-block;
    transform: translateY(-15px);
}



@media only screen and (max-width: 500px) {
    .background-item-3{
        top: -270px;
    }
    .background-item-2{
        top: -94px;
    }
    .background-item-2{
        top: -94px;
    }
    .background-item-4 {
        bottom: -173px;
    }
  }

  @media only screen and (max-width: 420px) {
    .background-item-3{
        top: -190px;
    }
  }
